# See https://docs.docker.com/engine/reference/builder/#dockerignore-file for more about ignoring files.

# Ignore git directory.
/.git/

# Ignore bundler config.
/streaming_api/.bundle

# Ignore all environment files (except templates).
/streaming_api/.env*
!/streaming_api/.env*.erb

# Ignore all default key files.
/streaming_api/config/master.key
/streaming_api/config/credentials/*.key

# Ignore all logfiles and tempfiles.
/streaming_api/log/*
/streaming_api/tmp/*
!/streaming_api/log/.keep
!/streaming_api/tmp/.keep

# Ignore pidfiles, but keep the directory.
/streaming_api/tmp/pids/*
!/streaming_api/tmp/pids/.keep

# Ignore storage (uploaded files in development and any SQLite databases).
/streaming_api/storage/*
!/streaming_api/storage/.keep
/streaming_api/tmp/storage/*
!/streaming_api/tmp/storage/.keep
